@import "tailwindcss";

/* Importando as fontes do Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Lato:wght@400;700&display=swap');

@theme {
  --color-veraNavy: #0A2540;
  --color-veraNavyLight: #11355A;
  --color-veraCyan: #00D4B2;
  --color-veraOrange: #FF922B;
  --color-veraDarkBg: #091522;
  --color-veraBgLight: #F8FAFC;
  
  --font-sans: 'Lato', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
}

body {
    scroll-behavior: smooth;
    background-color: var(--color-veraDarkBg);
}

@layer utilities {
    .text-glow {
        text-shadow: 0 0 10px rgba(0, 212, 178, 0.3);
    }
    .card-blur {
        background: rgba(10, 37, 64, 0.7);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
    }
}